@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: normal;
    src: url('/bundles/naturals/assets/fonts/Ubuntu-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    src: url('/bundles/naturals/assets/fonts/Ubuntu-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: normal;
    src: url('/bundles/naturals/assets/fonts/Ubuntu-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
    src: url('/bundles/naturals/assets/fonts/Ubuntu-Light.ttf') format('truetype')
}
